/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(''),
         url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff')
  }
  /* open-sans-600 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local(''),
         url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), 
         url('../fonts/OpenSans-SemiBold.woff') format('woff')
  }
  /* open-sans-700 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/OpenSans-Bold.woff2') format('woff2'), 
         url('../fonts/OpenSans-Bold.woff') format('woff')
  }

html {
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 400;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bg-color: #e5e5e5;
    --black: #000000;
    --white: #ffffff;
    --purple: #9d5cd0;
    --purple-light: #C283F3;
    --purple-dark: #7943A4;
    --text-color: #333333;
}
h1 {
    margin: 0;
    font-size: 72px;
    line-height: 82px;
    font-weight: 700;
    color: var(--white);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:focus-visible,
button:focus-visible {
    outline: none;
}
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.container {
    max-width: 1703px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}
.title {
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color);
}
.title-big {
    font-size: 49px;
    font-weight: 400;
    line-height: 65px;
    color: var(--text-color);
}
.title-small {
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
}
.btn {
    padding: 17px 35px;
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;
}
.btn-small {
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}
.focus {
    position: relative;
    z-index: 1;
}
.focus:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -3px;
    right: -3px;
    z-index: -1;
    opacity: 0;
    background-color: var(--purple-dark);
    transition: opacity .4s ease-in-out;
}
.focus:focus-visible:before {
    opacity: 1;
}

/* Header */
.header {
    display: flex;
    position: relative;
}
.menu__container {
    display: flex;
}
/* Burger */
.burger__btn {
    display: block;
    width: 36px;
    height: 36px;
    padding: 0;
    position: relative;
    border: none;
    cursor: pointer;
    color: var(--white);
    background: transparent;
}
#burger input {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0; 
    -webkit-touch-callout: none;
  }
.burger__btn:hover {
    color: var(--purple-light);
}
.burger__btn:active {
    color: var(--purple-dark);
}
.burger__btn::before,
.burger__btn::after {
  content: "";
  position: absolute;
  top: 18%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--white);
  transition: transform 0.3s ease-in, top 0.3s ease-in;
}
.burger__btn::after {
    width: 65%;
    top: 85%;
}
.burger__btn-active .burger__line {
    transform: scale(0);
}
.burger__btn-active::before,
.burger__btn-active::after {
    top: 58%;
    width: 35px;
    position: absolute;
    /* z-index: 100; */
}
.burger__btn-active::before {
    transform: rotate(45deg);
}
.burger__btn-active::after {
    transform: rotate(-45deg);
}
.burger__line {
    width: 29px;
    height: 4px;
    top: 50%;
    position: absolute;
    background-color: var(--white);
    transition: transform 0.3s ease-in;
}
.burger__overlay {
    width: 100%;
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-x: hidden;
    background-color: #000000;
}
.burger__menu {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 90px;
    padding-left: 48px;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--white);
    transform: none;
    transition: transform 0.3s ease-in;
}
.overlay-active,
.menu-is-active {
    transform: translateX(-100%);
}
.closebtn {
    position: absolute;
    top: 10px;
    font-size: 60px;
    color: var(--white);
} 
.burger__nav {
    display: inline-block;
}
.burger__item {
    text-align: left;
    cursor: pointer;
}
.burger__link,
.burger__enter-link {
    font-size: 24px;
    font-weight: 600;
    line-height: 64px;
    color: var(--main-gr-color);
    cursor: pointer;
    transition: color .2s ease-in-out;
}
.burger__enter-link  {
    font-size: 18px;
    line-height: 58px;
}
.burger__item-last {
    margin-bottom: 115px;
}
.burger__link:hover {
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}
.burger__link:focus {
   color: var(--white);
   text-decoration: underline solid var(--white);
   background-color: var(--purple);
   transition-property: background-color;
   transition: .2s ease-in-out;
}
.burger__link:active {
    color: var(--purple-dark);
    border-bottom: 1px solid var(--purple-dark);
}
.burger__enter {
    max-width: 260px;
    padding: 0 10px;
    border: 1px solid var(--purple);
    border-radius: 100px;
    text-align: center;
}
.burger__enter-link:focus:not(:active),
.burger__enter-link:focus:not(:hover),
.burger__enter:focus:not(:active) .burger__enter-link,
.burger__enter:focus:not(:hover) .burger__enter-link,
.burger__enter:focus:not(:active) .burger__enter-svg path,
.burger__enter:focus:not(:hover) .burger__enter-svg path  {
    fill: var(--white);
    color: var(--white);
    background:  var(--purple-dark);
    transition-property: background-color;
    transition: .2s ease-in-out;
}
.burger__enter:hover .burger__enter-link:hover,
.burger__enter:hover .burger__enter-svg path {
    color: var(--purple-light);
    fill: var(--purple-light);
    transition: 0.3s color ease-in-out;
}
.burger__enter:active .burger__enter-link:active,
.burger__enter:active .burger__enter-svg path {
    fill: var(--purple-light);
    color: var(--purple-light);
    border: none;
    transition: 0.3s color ease-in-out;
}

/* Header Menu Top*/
.menu-top {
    width: 100%;
    background-color: var(--black);
}
.menu-top .container {
    padding-top: 28px;
    padding-bottom: 28px;  
}
.logo {
    margin-right: 11%;
}
.logo:focus {
    outline: 1px solid var(--purple);
}
.header__nav {
    width: 56.5%;
    margin-right: auto;
}
.header__list {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}
.header__item {
    font-size: 18px;
    line-height: 24.5px;
}
.header__link {
    padding: 5px 5px;
    color: var(--white);
}
.header__link:focus-visible:not(:active),
.header__link:focus-visible:not(:hover) {
    color: var(--white);
}
.header__link:hover:not(:focus-visible) {
    color: var(--purple-light);
}
.header__link:active:not(:focus-visible) {
    color: var(--purple-dark);
    border: none;
}
.header__enter {
    margin-top: 10px;
}
.header__enter-link {
    height: fit-content;
    margin-right: auto;
    position: relative;
    z-index: 1;
    color: var(--white);
    font-size: 18px;
}
.header__enter-link.focus:before {
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
}
.header__enter-svg:focus-visible:not(:active) path,
.header__enter-svg:focus-visible:not(:hover) path {
    fill: var(--white);
}
.header__enter:hover:not(:focus-visible) .header__enter-link:not(:focus-visible) {
    color: var(--purple-light);
}
.header__enter:hover:not(:focus-visible) .header__enter-svg path {
    fill: var(--purple-light);
}
.header__enter:active:not(:focus-visible) .header__enter-link:not(:focus-visible),
.header__enter:active:not(:focus-visible) .header__enter-svg path {
    color: var(--purple-dark);
    fill: var(--purple-dark);
    border: none;
}
.header__enter:hover:not(:focus-visible) svg {
    width: 22px;
}
.header__enter:hover:not(:focus-visible) svg path {
    d: path('M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z');
}
.header__btn-top {
    padding-top: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.header__search-svg-top {
    padding-top: 0;
}
.header__search-svg,
.header__search-svg-top {
    height: 27px;
}
.header__input-top.open {
    display: none;
}
.header__input-top,
.overlay__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    font-size: 19px;
    color: var(--white);
    outline: none;
}
.header__input-top {
    width: 180px;
}
.overlay__input {
    width: 86%;
}
.header__overlay {
   display: none;
}
.search-active {
    width: 100%;
    height: 100px; 
    padding: 22px 48px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: baseline;
    background: var(--black);
}
.overlay__close {
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
}
.overlay__close::before,
.overlay__close::after {
    content: "";
    position: absolute;
    top: 45%;
    right: 6%;
    width: 35px;
    height: 3px;
    background-color: var(--bg-color);
    transition: transform 0.3s ease-in, top 0.3s ease-in;
}
.overlay__close::before {
    transform: rotate(45deg);
}
.overlay__close::after  {
    transform: rotate(-45deg);
}

/* Header Menu Bottom */
.menu-bottom {
    width: 100%;
    top: 100%;
    position: absolute;
    box-shadow: inset 20px 20px 50px 30px rgba(0, 0, 0, 0.4);
}
.menu-bottom .container {
    padding-top: 14px;
    padding-bottom: 14px; 
    display: flex;
    align-items: center; 
}
.menu-bottom  a {
    text-align: center;
    color: var(--white);
}
.menu-bottom__nav {
    width: 65%;
    margin-right: auto;
}
.menu-bottom__list {
    display: flex;
    justify-content: space-between;
}
.menu-bottom__item {
    position: relative;
    margin-right: 5px;
}
.menu-bottom__item .dropdown__btn {
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
    color: var(--white);
    cursor: pointer;
} 
.dropdown__btn {
    display: flex;
    align-items: center;
}
.dropdown__btn:hover:not(:focus-visible) .dropdown__text,
.dropdown__btn:hover:not(:focus) .dropdown__text {
    color: var(--purple-light);
    transition: color .2s ease-in-out;
    background-image: url(/IMG/Menu/Rectangle76.svg);
}
.dropdown__btn:active:not(:focus-visible) .dropdown__text {
    color: var(--purple-dark);
    transition: color .2s ease-in-out;
    background-image: url(/IMG/Menu/Rectangle74.svg);
    background-position: 98% 90%;
}
.dropdown__btn.focus:before {
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
}
.dropdown__text:focus-visible:not(:hover) .dropdown__text,
.dropdown__text:focus-visible:not(:active) .dropdown__text {
    color: var(--white);
}
.dropdown__text {
    padding-right: 18px;
    background-image: url(/IMG/Menu/Rectangle75.svg);
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
.dropdown__content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 6px 0 6px var(--black);
}
.dropdown__content::-webkit-scrollbar {
	width: 3px;
	background-color: var(--white);
}
.dropdown__content::-webkit-scrollbar-thumb {
	background-color: var(--white);
}
.dropdown__content::-webkit-scrollbar:horizontal {
    display: none;
}
.dropdown__menu {
    display: none;
    height: 280px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 0 40px;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.dropdown__content {
    height: 240px;
    max-width: 256px;
    overflow: scroll;
}
.dropdown__content a {
    float: none;
    display: block;
    padding: 12px 15px;
    text-align: left;
}
.show {
    display: block;
    position: absolute;
    top: 220%;
    visibility: visible;
    transition: .2s visibility linear, .2s opacity linear;
    opacity: 1;
}
.active.dropdown__text {
    color: var(--white);
}
.dropdown__link {
    height: 40px;
    max-width: 220px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.artist1 {
    background-image: url(/IMG/Menu/Rectangle57.jpg);
}
.artist2 {
    background-image: url(/IMG/Menu/Rectangle12.jpg);
}
.artist3 {
    background-image: url(/IMG/Hero/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg);
}
.artist4 {
    background-image: url(/IMG/Menu/Rectangle14.jpg);
}
.artist5 {
    background-image: url(/IMG/Gallery/Rectangle70.jpg);
}
.artist6 {
    background-image: url(/IMG/Gallery/Rectangle68.jpg);
}
.artist7 {
    background-image: url(/IMG/Menu/Rectangle21.jpg);
}
.artist8 {
    background-image: url(/IMG/Menu/Rectangle22.jpg);
}
.artist9 {
    background-image: url(/IMG/Menu/Rectangle23.jpg);
}
.artist10 {
    background-image: url(/IMG/Menu/Rectangle24.jpg);
}
.artist11 {
    background-image: url(/IMG/Menu/Rectangle31.jpg);
}
.artist12 {
    background-image: url(/IMG/Menu/Rectangle32.jpg);
}
.artist13 {
    background-image: url(/IMG/Menu/Rectangle33.jpg);
}
.artist14 {
    background-image: url(/IMG/Menu/Rectangle34.jpg);
}
.artist15 {
    background-image: url(/IMG/Menu/Rectangle41.jpg);
}
.artist16 {
    background-image: url(/IMG/Menu/Rectangle42.jpg);
}
.artist17 {
    background-image: url(/IMG/Menu/Rectangle43.jpg);
}
.artist18 {
    background-image: url(/IMG/Menu/Rectangle44.jpg);
}
.artist19 {
    background-image: url(/IMG/Menu/Rectangle51.jpg);
}
.artist20 {
    background-image: url(/IMG/Menu/Rectangle52.jpg);
}
.artist21 {
    background-image: url(/IMG/Menu/Rectangle53.jpg);
}
.artist22 {
    background-image: url(/IMG/Menu/Rectangle54.jpg);
}
.dropdown__link:hover,
.dropdown__link:focus-visible:not(:active) {
    border: 2px solid var(--purple-light);
}
.dropdown__link:active {
    box-shadow: inset 20px 20px 50px 30px rgba(194, 131, 243, 0.4);
    transition: box-shadow .2s ease-in-out;
}
#search::-webkit-search-cancel-button,
#search::-webkit-search-decoration {
   -webkit-appearance: none;
   outline: none;
}
.header__search-bottom {
    padding-top: 7px;
}
.header__btn,
.header__input {
    align-content: center;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}
.header__btn:focus .header__search-svg {
    border: 1px solid var(--purple);
}
.header__input {
    width: 227px;
    padding-bottom: 3px;
    padding-left: 5px;
    transform: translateY(-8px);
    border-bottom: 1px solid var(--white);
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
    outline: none;
}
.header__input::placeholder {
    color: var(--white);
}
.header__search-bottom:hover .header__input {
    border-bottom: 1px solid var(--purple-light);
    transition: 0.3s color ease-in-out;
}
.header__input:focus-visible {
    border-bottom: 1px solid var(--purple);
    transition: 0.3s color ease-in-out;
}
.header__input:active {
    border-bottom: 1px solid var(--purple-dark);
    transition: 0.3s color ease-in-out;
}


/* Hero */
.hero {
    width: 100%;
    background-image: url(/IMG/Hero/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg);
    background-position: center center;
    background-size: cover;
    animation: zoomin 30s infinite; 
}
@keyframes zoomin {
    0% {
        background-size: 120%;
    }
    50% {
        background-size: 130%;
    }
    100% {
        background-size: 120%;
    }
}
.hero__content {
    width: 38%;
    padding-top: 140px;
    padding-bottom: 122px;
}
.hero__title {
    margin-bottom: 22px;
}
.hero__desc {
    margin-bottom: 15%;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--white);
}
.hero__btn {
    padding: 22px 33px;
    position: relative;
    z-index: 1;
    color: var(--white);
    background-color: var(--purple);
    border: 3px solid transparent;
}
.hero__btn:focus:not(:active).hero__btn::before,
.hero__btn:focus:not(:hover).hero__btn::before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    bottom: -7px;
    left: -8px;
    right: -8px;
    border: 2px solid #C283F3;
    border-radius: 100px;
    color: transparent;
}
.hero__btn:hover:not(:focus) {
    border: 3px solid #D1A9F0;
    border-radius: 100px;
}
.hero__btn:active {
    background-color: var(--purple-dark);
    border: 3px solid #D1A9F0;
    border-radius: 100px;
}
.hero__link {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
}

/* About us */
.about__container {
    padding-top: 80px;
    padding-bottom: 70px;
}
.about__title {
    margin-bottom: 16px;
}
.about__desc {
    max-width: 67%;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
}

/* Gallery */ 
.gallery {
    position: relative;
    background-image: url(/IMG/Gallery/gallery_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px 35px 50px;
}
.gallery-left {
    width: 25%;
}
.gallery__title {
    margin-bottom: 25px;
    color: var(--white);
}
.choices__title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}
.choices {
    width: 100%;
    height: 40px;
    border: 1px solid #999999;
    border-radius: 6px;
    background-color: transparent;  
}
.choices:focus-visible {
    border: 1px solid var(--purple-dark);
    border-radius: 6px;

}
.choices__inner {
    padding-top: 4.5px;
    background: url(/IMG/Gallery/Rectangle54.svg) no-repeat;
    background-position: 97% 50%;
}
.choices__list--dropdown,
.choices__inner {
    background-color: transparent;
    color: #999999;
    border: none;
    font-size: 16px;
}
.choices__inner:focus,
.choices__inner:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.is-open .choices__inner {
    background: url(/IMG/Gallery/Rectangle55.svg) no-repeat;
    background-position: 97% 50%;
}
.choices__list--dropdown .choices__item {
    font-size: 16px;
}
.choices__item:not(:last-child) {
    margin-bottom: 10px;
}
.choices__list--dropdown {
    z-index: 10;
    border: 1px solid #999999;
    border-radius: 6px;
}
.menu-is-active {
    transform: translateX(-50px);
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 1px solid #999999;
}
.choices__item:hover {
    color: var(--white);
}
.choices__list--single {
    color: white;
}
#choices--select-item-choice-1 {
    display: none;
}
.choices[data-type*=select-one]:after {
    border: none;
}
.gallery__note {
    width: 20%;
    position: absolute;
    top: 80%;
    font-size: 16.5px;
    line-height: 32px;
    color: var(--white);
}
.gallery__link {
    position: relative;
    z-index: 1;
    color: var(--purple-light);
}
.gallery__link:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
    background-color: var(--purple-dark);
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.gallery__link:focus-visible:after {
    opacity: 1;
}
.gallery__link:focus-visible {
    outline: none;
}
.gallery__link:focus-visible:not(:hover),
.gallery__link:focus-visible:not(:active) {
    color: var(--white);
}
.gallery__link:hover:not(:focus-visible) {
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}
.gallery__link:active:not(:focus-visible) {
    color: var(--purple-dark);
}
.gallery-right {
    width: 72%;
    padding-top: 24px;
}
.swiper-navigation {
    width: 12%;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    padding-left: 6px;
}
.swiper-container {
    width: auto;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding:0;
    z-index:1
}
.swiper__button-prev2,
.swiper__button-prev4 {
    border: none;
    background-color: #666666;
    background-image: url(/IMG/Gallery/back.svg);
    background-position: 45% 45%;
}
.swiper__button-next1,
.swiper__button-next3 {
    border: none;
    background-color: #666666;
    background-image: url(/IMG/Gallery/fwd.svg);
    background-position: 50% 45%;
}
.swiper__btn {
    width: 56px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #666666;
    border-radius: 50%;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}
.swiper__btn:focus-visible {
    outline: none;
}
.swiper__btn:focus-visible {
    border: 2px solid var(--black);
}
.swiper__btn:hover {
    background-color: var(--purple);
}
.swiper__btn:active {
    border: 2px solid var(--black);
    background-color: var(--purple-dark);
}
.swiper-button-disabled {
    opacity: 0.5;
}
.swiper-pagination-fraction {
    padding-left: 15px;
    font-size: 17px;
    color: white;
}
.swiper-wrapper {
    position: relative;
    z-index: 1;
    padding: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
.swiper-container-multirow .swiper-wrapper {
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.swiper__img {
    width: 100%;
    height: 100%;
}
.gallery__slide {
    height: 350px;
    position: relative;
    object-fit: cover;
    align-items: center;
    text-align: center;
}
.gallery__slide::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    top: 7%;
    left: 7%;
    z-index: 1;
    background: url(/IMG/Gallery/hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    opacity: 0;
}
.gallery__slide::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 50px 50px 50px 50px rgba(194, 131, 243, 0.4);   
    outline: 3px solid #D1A9F0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.gallery__slide:focus-visible,
.swiper-slide:focus-visible,
.swiper__img:focus-visible {
   outline: 3px solid var(--purple-dark);
}
.gallery__slide:hover::after{
   opacity: 1;
}
.gallery__slide:active::after {
    opacity: 1;
}
.gallery__slide:active::before {
    opacity: 1;
}

/* Catalogue */

.catalogue {
    padding: 80px 0 80px 0;
    position: relative;
}
.tab-content {
    display: none;
}
.tab-active {
    display: flex;
}
.ac--list__item {
    cursor: pointer;
}
.ac--list__item-top {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -1px;
}
.ac--list__item-top:hover, .ac--list__item-top:focus-visible {
    border-color: var(--purple-dark);
    position: relative;
    z-index: 1;
}
.ac--list__item-top:hover h3,
.ac--list__item-top:focus-visible h3 {
    color: var(--purple);
} 
.ac--list__item-top:focus-visible {
    outline: 0;
}
.ac--list__item-top.ui-state-active {
    border-color: var(--purple-dark);
}
.article-content {
    display: none;
}
.article-content.article-tabActive {
    display: flex;
}
.catalogue__heading {
    display: flex;
    margin-bottom: 15px;
}
.catalogue__title {
    margin-right: 38px;
}
.heading-ul {
    display: flex;
    align-items: center;
}
.country__icon {
    width: 52px;
    height: 54px;
    padding-top: 2px;
    border: 2px solid transparent;
    border-radius: 100%;
}
.heading-item--btn:hover,
.country__icon:focus {
    filter: drop-shadow(0px 0px 8px rgba(157, 92, 208, 0.7));
}
.btn-active {
    width: 66px;
    height: 66px;
    border: 2px solid var(--purple-dark);
    border-radius: 100%;
    background-color:var(--white);
}
.btn-active.heading-item--btn:hover {
    filter: none;
}
.heading-item:not(:last-child) {
    margin-right: 40px;
}
.heading-item--btn:active {
    opacity: 0.5;
}
.tab-content {
    display: none;
}
.tab-active {
    display: flex;
    justify-content: space-between;
}
.accordion,
.ac--list {
    width: 50%;
}
.article-content.article-tabActive {
    display: block;
    max-width: 50%;
}
.ac--list__item-top {
    display: flex;
    padding: 29px 0;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}
.catalogue__desc {
    width: 68%;
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
}
.catalogue__info {
    width: 60%;
    display: none;
}
.catalogue__artist-item {
    cursor: pointer;
}
.catalogue__artist-name {
    border: none;
    color: var(--text-color);
    text-align: start;
    background-color: transparent;   
    cursor: pointer;
}
.catalogue__artist-name:active {
    color: var(--purple-dark);
}
.catalogue__artist-name.current {
    color: var(--purple-dark);
}
.catalogue__artist-name:hover {
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}
.artist__name {
    max-width: 70%;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--text-color);
}
.artist__dates {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}
.artist__desc {
    max-width: 95%;
    padding-top: 5px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-color);
}
.artist__img {
    max-width: 750px;
    max-height: 470px;
    margin-bottom: 28px;
    object-fit: cover;
}
.ui-accordion-header {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    border-bottom: 1px solid #CACACA;;
    cursor: pointer;
}
.ui-accordion-header:first-child {
    border-top: 1px solid #CACACA;
}
.accordion__list,
.ui-accordion-content {
    padding: 28px 0 55px 0;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
    border-bottom: 1px solid #CACACA;
}
.empty {
    height: 200px;
    display: flex;
    align-items: center;
    padding: 25px 0 25px 0;
}
.empty__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 275px;
}
.empty__img-grey {
    margin-right: 20px;
    padding: 5px;
    outline: 2px solid #B7B7B7;
}
.empty__title {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color);
}
.empty__desc {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
}
.ac-list__item-btn {
    width: 55px;
    height: 55px;
    border: none;
    background: url(/IMG/Catalogue/arr.png) no-repeat;
    cursor: pointer;
}
.ui-accordion-header-active .ac-list__item-btn {
    background:url(/IMG/Catalogue/arr.svg) no-repeat;
}
.ui-accordion-header:hover .ac-list__item-btn {
    background: url(/IMG/Catalogue/arr2.png) no-repeat;
}
.ui-accordion-header-active .accordion__date {
    color: var(--purple-dark);
}
.ui-accordion-header-active {
    border-top: 1px solid var(--purple-dark);
    border-bottom: 1px solid var(--purple-dark);
}
.ui-accordion-header-active.ui-accordion-header:first-child {
    border-top: 1px solid var(--purple-dark);
}
.ui-accordion-header:hover {
    color: var(--purple);
    border-bottom: 1.5px solid var(--purple);
    border-top: 1.5px solid var(--purple);
}
.accordion__date {
    font-size: 24px;
    cursor: pointer;
}
.accordion__date:focus {
    color: var(--white);
    background-color: var(--purple);
}
.catalogue__artist__list {
    max-width: 95%;
    column-count: 3;
}




@media (min-width: 1200px) {
    .burger__btn,
    .header__search-top {
        display: none;
    }
}
@media (max-width: 1500px) {
    .swiper-navigation {
        width: 16%;
    }

    .gallery__slide::after {
        left: 16%;
    }
}
@media (max-width: 1200px) {

    .header__nav,
    .menu-bottom,
    .header__enter {
        display: none;
    }
    .menu__container {
        justify-content: space-between;
    }
    .hero {
        animation: none;
    }
    .about__desc {
        max-width: 100%;
    }
}

@media (min-width: 810px) and (max-width: 1200px) {
    .menu-top .container {
        padding-top: 31px;
        padding-bottom: 31px;
    }
    .logo {
        margin-right: 0;
        position: absolute;
        top: 28.5%;
        left: 40.8%;
    }
    .logo__img {
        width: 187px;
    }
    .header__btn-top {
        padding-top: 0;
        padding-right: 5px;
    }
    .header__search-svg-top {
        height: 30px;
        transform: translateY(5px);
    }
    .header__input-top {
        width: 219px;
    }
    .hero__content {
        width: 80%;
        padding-top: 113px;
        padding-bottom: 115px;
    }
    .hero__title {
        margin-bottom: 14px;
    }
    .hero__desc {
        margin-bottom: 18%;
    }
    .header__overlay {
        display: none;
    }
    .about__title {
        margin-bottom: 15px;
    }
    .gallery__container {
        padding: 80px 50px 75px 50px;
    }
    .gallery-left {
        width: 30%;
    }
    .gallery-right{
        width: 64%;
        padding-top: 24px;
    }
    .swiper-navigation {
        width: 22%;
        padding-left: 0;
    }
    .swiper-container {
        height: 600px;
    }
    .swiper__button-next1,
    .swiper__button-next3 {
        background-position: 50% 45%;
    }
    .swiper__button-prev2,
    .swiper__button-prev4 {
        background-position: 45% 50%;
    }
    .gallery__slide {
        max-height: 280px;
    }
    .gallery__slide::after {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
    }
    .gallery__note {
        width: 27%;
        top: 72.5%;
    }

}

@media (min-width: 690px) and (max-width: 809px) {
    .logo {
        margin-right: 3%;
    }
    .logo__img {
        width: 106%;
    }
    .burger__menu {
        padding-top: 100px;
        padding-left: 48px;
    }

    .header__search-top {
        z-index: 10;
    }
    .header__search-svg {
        height: 30px;
    }
    .header__input-top {
        display: none;
    }
    .hero__content {
        width: 100%;
        padding-top: 112px;
        padding-bottom: 115px;
    }
    .hero__title {
        margin-bottom: 13px;
    }
    .hero__desc {
        margin-bottom: 20%;
    }
    .hero__btn {
        padding: 21px 33px;
    }
    .gallery {
        height: 1110px;
    }
    .gallery__title {
        font-size: 48px;
    }
    .gallery__container {
        flex-wrap: wrap;
    }
    .gallery-right {
        width: 100%;
        padding-top: 48px;
    }
    .choices {
        width: 167%;
    }
    .choices__title {
        margin-bottom: 14px;
    }
    .is-active {
        left: 0;
    }
    .choices__list--dropdown {
        background-color: #000000;
    }
    .gallery__note {
        width: 90%;
        top: 88%;

    }
    .swiper-navigation {
        width: 19%;
        padding-left: 0;
    }
    .swiper__button-next1,
    .swiper__button-next3 {
        background-position: 55% 50%;
    }
    .swiper__button-prev2,
    .swiper__button-prev4 {
        background-position: 45% 50%;
    }
    .swiper-container {
        height: 600px;
    }
    .gallery__slide {
        max-height: 280px;
    }
    .gallery__slide::after {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
    }

}

@media(min-width: 501px) and (max-width: 689px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu-top .container {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .burger__line, .burger__btn::before, .burger__btn::after {
        height: 3px;
    }
    .logo {
        margin-right: 0;
    }
    .logo__img {
        max-width: 140px;
    }
    .header__search-svg {
        max-width: 24px;
    }
    .burger__menu {
        top: 0;
        left: -15px;
        padding-top: 65px;
    }
    .closebtn {
        font-size: 30px;
    }
    .burger__overlay {
        height: 100%;
        max-height: 390px;
    }
    .burger__item {
        margin-bottom: 8px;
    }
    .burger__item-last {
        margin-bottom: 30px;
    }
    .burger__link {
        font-size: 14px;
        line-height: 20px;
    }
    .burger__enter {
        max-width: 220px;
    }
    .hero__content {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 45px;
        text-align: center;
    }
    .hero__title {
        font-size: 48px;
        line-height: 42px;
        margin-bottom: 15px;
    }
    .hero__desc {
        margin-bottom: 10%;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .hero__btn {
        padding: 11px 18px 15px 18px;
    }
    .hero__link {
        font-size: 14px;
    }
    .header__input-top {
        display: none;
    }
    .search-active {
        height: 60px;
        padding: 12px;
    }
    .overlay__close::before,
    .overlay__close::after {
        top: 45%;
    }
    .gallery__container {
        padding: 40px 50px 120px 50px;
        flex-wrap: wrap;
    }
    .gallery-right {
        width: 100%;
        padding-top: 48px;
    }
    .choices {
        width: 200%;
    }
    .choices__title {
        margin-bottom: 18px;
    }
    .is-active {
        left: 0;
    }
    .choices__list--dropdown {
        background-color: #000000;
    }
    .gallery__note {
        width: 90%;
        top: 90%;
        font-size: 14px;
        line-height: 22px;
    }
    .swiper-navigation {
        width: 30%;
        padding-left: 0;
    }
    .swiper__button-next1,
    .swiper__button-next3 {
        background-position: 55% 50%;
    }
    .swiper__button-prev2,
    .swiper__button-prev4 {
        background-position: 45% 50%;
    }
    .swiper-container {
        height: 600px;
    }
    .gallery__slide {
        max-height: 280px;
    }
    .gallery__slide::after {
        width: 90%;
        height: 70%;
        top: 15%;
        left: 5%;
    }
}

@media (max-width: 500px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu__container {
        align-items: center;
    }
    .menu-top .container {
        padding: 12px 6px 9px 15px;
    }
    .burger__btn {
        max-width: 25px;
        max-height: 25px;
    }
    .burger__line {
        width: 16px;
        height: 2px;
        top: 40%;
    }
    .burger__btn::before, .burger__btn::after {
        width: 41%;
        height: 2px;
        top: 72%;
    }
    .burger__btn::before {
        width: 25px;
        top: 8%;
    }
    .burger__btn-active::before,
    .burger__btn-active::after {
        width: 17px;
        top: 44%;
    }
    .closebtn {
        font-size: 30px;
    }
    .logo {
        margin-right: 0;
    }
    .logo__img {
        max-width: 96px;
    }
    .header__btn-top {
        padding-top: 0;
    }
    .header__search-svg-top {
        height: 17px;
    }
    .header__search-svg {
        max-width: 33px;
        height: 35px;
        padding-top: 20px;
    }
    .header__input-top {
        display: none;
    }
    .search-active {
        height: 75px;
        display: flex;
        align-items: flex-end;
        padding: 10px 15px 20px 50px;
    }
    .overlay__input {
        width: 70%;
        margin-right: 20px;
    }
    .burger__menu {
        top: 0;
        padding-top: 45px;
        padding-left: 15px;
    }
    .burger__overlay {
        height: 100%;
        max-height: 355px;
    }
    .burger__item-last {
        margin-bottom: 18px;
    }
    .burger__link {
        font-size: 16px;
        line-height: 32px;
    }
    .burger__enter {
        max-width: 115px;
        padding: 0;
    }
    .burger__enter-link {
        font-size: 12px;
        line-height: 38px;
    }
    .burger__enter-svg {
        width: 9px;
        height: 13px;
        padding-top: 5px;
    }
    .hero__content {
        width: 100%;
        padding-top: 33px;
        padding-bottom: 45px;
        text-align: center;
    }
    .hero__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 10px;
    }
    .hero__desc {
        margin-bottom: 14.5%;
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
    }
    .hero__btn {
        padding: 5px 15px 9px 15px;
    }
    .hero__link {
        font-size: 12px;
    }
    .about__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .about__title {
        margin-bottom: -5px;
        font-size: 28px;
    }
    .about__desc {
        font-size: 14px;
        line-height: 28px;
    }
    .gallery {
        height: 854px;
    }
    .gallery__container {
        padding: 38px 15px;
        flex-wrap: wrap;
    }
    .gallery-left {
        width: 62%;
    }
    .gallery-right {
        width: 100%;
        padding-top: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .gallery__title {
        margin-bottom: 4px;
        font-size: 28px;
    }
    .choices {
        width: 160%;
    }
    .choices__title {
        margin-bottom: 12px;
    }
    .is-active {
        left: 0;
    }
    .choices__list--dropdown {
        background-color: #000000;
    }
    .gallery__note {
        width: 90%;
        top: 76.5%;
        font-size: 17px;
    }
    .swiper-navigation {
        width: 42%;
        padding-left: 0;
    }
    .swiper__button-next1,
    .swiper__button-next3 {
        background-position: 55% 50%;
    }
    .swiper__button-prev2,
    .swiper__button-prev4 {
        background-position: 45% 50%;
    }
    .swiper-pagination-fraction {
        padding-left: 9px;
    }
    .swiper-container {
        height: 390px;
        width: 100%;
        margin-top: 36px;
    }
    .gallery__slide {
        height: 367px;
    }
    .gallery__slide::after {
        width: 90%;
        height: 69%;
        top: 15%;
        left: 5%;
    }
}