/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(''),
         url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff')
  }
  /* open-sans-600 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local(''),
         url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), 
         url('../fonts/OpenSans-SemiBold.woff') format('woff')
  }
  /* open-sans-700 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/OpenSans-Bold.woff2') format('woff2'), 
         url('../fonts/OpenSans-Bold.woff') format('woff')
  }

html {
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 400;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bg-color: #e5e5e5;
    --black: #000000;
    --white: #ffffff;
    --purple: #9d5cd0;
    --purple-light: #C283F3;
    --purple-dark: #7943A4;
    --text-color: #333333;
}
h1 {
    margin: 0;
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    color: var(--white);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.container {
    max-width: 1703px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}
.title {
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color);
}
.title-big {
    font-size: 49px;
    font-weight: 400;
    line-height: 65px;
    color: var(--text-color);
}
.title-small {
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
}
.btn {
    padding: 17px 35px;
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;
}
.btn-small {
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

/* Header */
.header {
    display: flex;
    position: relative;
}
.menu_container {
    display: flex;
}
/* Burger */
.burger__btn {
    display: block;
    width: 35px;
    height: 35px;
    padding: 0;
    position: relative;
    border: none;
    cursor: pointer;
    color: var(--white);
    background: transparent;
}
#burger input {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0; 
    -webkit-touch-callout: none;
  }
.burger__btn:hover {
    color: var(--purple-light);
}
.burger__btn:active {
    color: var(--purple-dark);
}
.burger__btn::before,
.burger__btn::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--white);
  transition: transform 0.3s ease-in, top 0.3s ease-in;
}
.burger__btn::after {
    width: 50%;
    top: 85%;
}
.burger__btn-active .burger__line {
    transform: scale(0);
}
.burger__btn-active::before,
.burger__btn-active::after {
    top: 50%;
    width: 34px;
    position: absolute;
    z-index: 100;
}
.burger__btn-active::before {
    transform: rotate(45deg);
}
.burger__btn-active::after {
    transform: rotate(-45deg);
}
.burger__line {
    width: 24px;
    height: 4px;
    top: 50%;
    position: absolute;
    background-color: var(--white);
    transition: transform 0.3s ease-in;
}
.burger__line-last {
    width: 16px;
}
.burger__overlay {
    width: 100%;
    height: 768px; 
    position: fixed;
    top: 0;
}
.burger__menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50px;
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--white);
    transform: none;
    transition: transform 0.3s ease-in;
}
.overlay-active,
.menu-is-active {
    transform: translateX(-100%);
}
.burger__nav {
    display: inline-block;
}
.burger__item {
    margin-bottom: 20px;
    text-align: left;
    cursor: pointer;
}
.burger__link,
.burger__enter-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: var(--main-gr-color);
    cursor: pointer;
}
.burger__item-last {
    margin-bottom: 70px;
}
.burger__link:hover {
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}
.burger__link:focus {
   color: var(--white);
   text-decoration: underline solid var(--white);
   background-color: var(--purple);
}
.burger__link:active {
    color: var(--purple-dark);
    border-bottom: 1px solid var(--purple-dark);
}
.burger__enter {
    max-width: 260px;
    padding: 10px 30px;
    border: 1px solid var(--purple);
    border-radius: 100px;
}
.burger__enter-link  {
    padding-left: 60px;
}
.burger__enter-link:focus:not(:active),
.burger__enter-link:focus:not(:hover),
.burger__enter:focus:not(:active) .burger__enter-link,
.burger__enter:focus:not(:hover) .burger__enter-link,
.burger__enter:focus:not(:active) .burger__enter-svg path,
.burger__enter:focus:not(:hover) .burger__enter-svg path  {
    fill: var(--white);
    color: var(--white);
    background:  var(--purple-dark);
}
.burger__enter:hover .burger__enter-link:hover,
.burger__enter:hover .burger__enter-svg path {
    color: var(--purple-light);
    fill: var(--purple-light);
    transition: 0.3s color ease-in-out;
}
.burger__enter:active .burger__enter-link:active,
.burger__enter:active .burger__enter-svg path {
    fill: var(--purple-light);
    color: var(--purple-light);
    border: none;
    transition: 0.3s color ease-in-out;
}

/* Header Menu Top*/
.menu-top {
    width: 100%;
    background-color: var(--black);
}
.menu-top .container {
    padding-top: 28px;
    padding-bottom: 28px;  
}
.logo {
    margin-right: 11%;
}
.header__nav {
    width: 56%;
    margin-right: auto;
}
.header__list {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.header__item {
    font-size: 19px;
    line-height: 24.5px;
}
.header__link {
    padding: 5px 5px;
    color: var(--white);
}
.header__enter {
    margin-top: 10px;
}
.header__enter-link {
    height: fit-content;
    margin-right: auto;
    padding: 5px 25px;
    position: relative;
    color: var(--white);
    font-size: 18px;
}
.header__svg {
    position: absolute;
    top: 11px;
    left: 7px;
}
.header__link:focus:not(:active),
.header__link:focus:not(:hover),
.header__enter-link:focus:not(:active),
.header__enter-link:focus:not(:hover),
.header__enter:focus:not(:active) .header__enter-link,
.header__enter:focus:not(:hover) .header__enter-link,
.header__enter:focus:not(:active) .header__enter-svg path,
.header__enter:focus:not(:hover) .header__enter-svg path  {
    fill: var(--white);
    color: var(--white);
    background:  var(--purple-dark);
}
.header__link:focus-visible {
    outline: 0;   
}
.header__link:hover {
    color: var(--purple-light);
    transition: 0.3s color ease-in-out;
}
.header__link:active {
    color: var(--purple-dark);
    border: none;
    transition: 0.3s color ease-in-out;
}
.header__enter:hover .header__enter-link,
.header__enter:hover .header__enter-svg path {
    color: var(--purple-light);
    fill: var(--purple-light);
    transition: 0.3s color ease-in-out;
}
.header__enter:active .header__enter-link,
.header__enter:active .header__enter-svg path {
    color: var(--purple-dark);
    fill: var(--purple-dark);
    border: none;
    transition: 0.3s color ease-in-out;
}
.header__btn-top {
    background: transparent;
    border: none
}
.header__search-svg {
    margin-right: 10px;
    height: 28px;
}
.header__input-top.open {
    display: none;
}
.header__input-top,
.overlay__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 19px;
    color: var(--white);
    outline: none;
}
.header__input-top {
    width: 180px;
}
.overlay__input {
    width: 80%;
}
.header__overlay {
   display: none;
}
.search-active {
    width: 100%;
    height: 100px; 
    padding: 40px 90px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: baseline;
    background: var(--black);
}
.overlay__close {
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
}
.overlay__close::before,
.overlay__close::after {
    content: "";
    position: absolute;
    top: 55%;
    width: 27px;
    height: 3px;
    background-color: var(--bg-color);
    transition: transform 0.3s ease-in, top 0.3s ease-in;
}
.overlay__close::before {
    transform: rotate(45deg);
}
.overlay__close::after  {
    transform: rotate(-45deg);
}

/* Header Menu Bottom */
.menu-bottom {
    width: 100%;
    top: 100%;
    position: absolute;
    box-shadow: inset 20px 20px 50px 30px rgba(0, 0, 0, 0.4);
}
.menu-bottom .container {
    padding-top: 20px;
    padding-bottom: 20px;  
}
.menu-bottom  a {
    text-align: center;
    color: var(--white);
}
.menu-bottom__nav {
    width: 65%;
    margin-right: auto;
}
.menu-bottom__list {
    display: flex;
    justify-content: space-between;
}
.menu-bottom__item {
    position: relative;
}
.menu-bottom__item .dropdown__btn {
    padding: 5px 5px;
    font-size: 19px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
    color: var(--white);
    cursor: pointer;
} 
.dropdown__btn {
    display: flex;
    align-items: center;
}
.dropdown__btn:hover {
    color: var(--purple-light);
}
.dropdown__btn:hover .arrow path {
    stroke: var(--purple-light);
}
.dropdown__btn:focus:not(:hover),
.dropdown__btn:focus:not(:active) {
    color: var(--white);
    outline: 1px solid var(--purple-dark);
}
.dropdown__btn:focus .arrow path {
    stroke: var(--purple-dark);
}
.dropdown__btn:focus .arrow {
    transform: rotate(180deg);
}
.dropdown__text {
    margin-right: 15px;
}
.dropdown__content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 6px 0 6px var(--black);
	background-color: #F5F5F5;
}
.dropdown__content::-webkit-scrollbar {
	width: 3px;
	background-color: #7943A4;
}
.dropdown__content::-webkit-scrollbar-thumb {
	background-color: #9d5cd0;
	border: 2px solid #7943A4;
}
::-webkit-scrollbar:horizontal {
    display: none;
}
.dropdown__menu {
    display: none;
    height: 280px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 0 40px;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.dropdown__content {
    height: 240px;
    max-width: 256px;
    overflow: scroll;
}
.dropdown__content a {
    float: none;
    display: block;
    padding: 13px 15px;
    text-align: left;
}
.show {
    display: block;
    position: absolute;
    top: 165%;
    visibility: visible;
    transition: .2s visibility linear, .2s opacity linear;
    opacity: 1;
}
.dropdown__link {
    height: 40px;
    max-width: 220px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.artist1 {
    background-image: url(/IMG/Menu/Rectangle57.jpg);
}
.artist2 {
    background-image: url(/IMG/Hero/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg);
}
.artist3 {
    background-image: url(/IMG/Hero/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg);
}
.artist4 {
    background-image: url(/IMG/Gallery/Rectangle53.jpg);
}
.artist5 {
    background-image: url(/IMG/Gallery/Rectangle70.jpg);
}
.artist6 {
    background-image: url(/IMG/Gallery/Rectangle68.jpg);
}
.dropdown__link:hover,
.dropdown__link:focus:not(:active) {
    border: 2px solid var(--purple-light);
}
.dropdown__link:active {
    box-shadow: inset 20px 20px 50px 30px rgba(194, 131, 243, 0.4);
}
.header__search-bottom {
    padding-top: 5px;
}
#search::-webkit-search-cancel-button,
#search::-webkit-search-decoration {
   -webkit-appearance: none;
   outline: none;
}
.header__btn,
.header__input {
    align-content: center;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}
.header__input {
    width: 227px;
    padding-left: 7px;
    transform: translateY(-5px);
    border-bottom: 1px solid var(--white);
    font-size: 19px;
    color: var(--white);
    outline: none;
}
.header__input::placeholder {
    color: var(--white);
}
.header__search-bottom:hover .header__input,
.header__search-bottom:hover .header__search-svg path,
.header__search-bottom:hover .header__search-svg rect {
    border-bottom: 1px solid var(--purple-light);
    fill: var(--purple-light);
    transition: 0.3s color ease-in-out;
}
.header-search-svg:focus,
.header__input:focus {
    border-bottom: 1px solid var(--purple-dark);
    transition: 0.3s color ease-in-out;
}
.header__search-bottom:active .header__search-svg path ,
.header__search-bottom:active .header__search-svg rect,
.header__search-bottom:active .header__input {
    fill: var(--purple-dark);
    transition: 0.3s color ease-in-out;
}

/* Hero */
.hero {
    width: 100%;
    background-image: url(/IMG/Hero/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg);
    background-position: center center;
    background-size: cover;
    animation: zoomin 30s infinite; 
}
@keyframes zoomin {
    0% {
        background-size: 120%;
    }
    50% {
        background-size: 130%;
    }
    100% {
        background-size: 120%;
    }
}
.hero__content {
    width: 38%;
    padding-top: 140px;
    padding-bottom: 125px;
}
.hero__title {
    margin-bottom: 25px;
}
.hero__desc {
    margin-bottom: 15%;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--white);
}
.hero__btn {
    padding: 25px 42px;
    color: var(--white);
    background-color: var(--purple);
    border: none;
}
.hero__btn:focus {
    border: 3px solid #D1A9F0;
    border-radius: 100px;
}
.hero__btn:hover {
    border: 4px double #C283F3;
    border-radius: 100px;
}
.hero__btn:active {
    background-color: var(--purple-dark);
    border: 3px solid #D1A9F0;
    border-radius: 100px;
}
.hero__link {
    color: var(--white);
    font-size: 19px;
    font-weight: 700;
}



@media (min-width: 1200px) {
    .burger__btn,
    .header__search-top {
        display: none;
    }
}

@media (max-width: 1200px) {

    .header__nav,
    .menu-bottom,
    .header__enter {
        display: none;
    }
    .menu_container {
        justify-content: space-between;
    }
    .hero {
        animation: none;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .logo {
        margin-right: 20px;
    }
    .hero__content {
        width: 80%;
        padding-top: 116px;
        padding-bottom: 115px;
    }
    .hero__title {
        margin-bottom: 15px;
    }
    .hero__desc {
        margin-bottom: 18%;
    }
    .header__overlay {
        display: none;
    }

}

@media (min-width: 620px) and (max-width: 768px) {
    .logo {
        margin-right: 0;
    }
    .hero__content {
        width: 100%;
        padding-top: 115px;
        padding-bottom: 115px;
    }
    .hero__title {
        margin-bottom: 15px;
    }
    .hero__desc {
        margin-bottom: 20%;
    }
    .header__search-top {
        z-index: 10;
    }
    .header__input-top {
        display: none;
    }

}

@media(min-width: 429px) and (max-width: 619px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu-top .container {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .burger__line, .burger__btn::before, .burger__btn::after {
        height: 3px;
    }
    .logo {
        margin-right: 0;
    }
    .logo__img {
        max-width: 140px;
    }
    .header__search-svg {
        max-width: 24px;
    }
    .burger__menu {
        top: 0;
        left: -15px;
        padding-top: 65px;
        padding-left: 20px;
    }
    .burger__overlay {
        height: 100%;
        max-height: 390px;
    }
    .burger__item {
        margin-bottom: 8px;
    }
    .burger__item-last {
        margin-bottom: 30px;
    }
    .burger__link {
        font-size: 14px;
        line-height: 20px;
    }
    .burger__enter {
        max-width: 220px;
    }
    .burger__enter-link {
        padding-left: 40px;
    }
    .hero__content {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 45px;
        text-align: center;
    }
    .hero__title {
        font-size: 48px;
        line-height: 42px;
        margin-bottom: 15px;
    }
    .hero__desc {
        margin-bottom: 10%;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .hero__btn {
        padding: 11px 18px 15px 18px;
    }
    .hero__link {
        font-size: 14px;
    }
    .header__input-top {
        display: none;
    }
    .search-active {
        height: 60px;
        padding: 12px;
    }
    .overlay__close::before,
    .overlay__close::after {
        top: 45%;
    }
   
}

@media (max-width: 428px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu_container {
        align-items: center;
    }
    .menu-top .container {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .burger__btn {
        max-width: 25px;
        max-height: 25px;
    }
    .burger__line {
        width: 18px;
        height: 2px;
    }
    .burger__btn::before {
        width: 25px;
    }
    .burger__btn::before, .burger__btn::after {
        height: 2px;
    }
    .burger__btn-active::before,
    .burger__btn-active::after {
        width: 30px;
        top: 50%;
    }
    .burger__overlay {
        height: 100%;
        max-height: 380px;
    }
    .burger__menu {
        top: 0;
        left: -15px;
    }
    .logo {
        margin-right: 0;
    }
    .logo__img {
        max-width: 96px;
    }
    .header__search-svg {
        max-width: 18px;
    }
    .hero__content {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 40px;
        text-align: center;
    }
    .hero__title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 5px;
    }
    .hero__desc {
        margin-bottom: 19%;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
    }
    .hero__btn {
        padding: 11px 18px 15px 18px;
    }
    .hero__link {
        font-size: 12px;
    }
    .header__input-top {
        display: none;
    }
    .search-active {
        height: 70px;
        padding: 20px;
    }
    .overlay__close {
        width: 25px;
        height: 25px; 
    }
    .overlay__close::after,
    .overlay__close::before {
        width: 20px;
        height: 2px;
        top: 20%;  
    }
    .burger__menu {
        top: 0;
        left: -15px;
        padding-top: 65px;
        padding-left: 20px;
    }
    .burger__overlay {
        height: 100%;
        max-height: 390px;
    }
    .burger__item {
        margin-bottom: 8px;
    }
    .burger__item-last {
        margin-bottom: 30px;
    }
    .burger__link {
        font-size: 14px;
        line-height: 20px;
    }
    .burger__enter {
        max-width: 200px;
    }
    .burger__enter-link {
        padding-left: 30px;
    }


}