/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(''),
         url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff')
  }
  /* open-sans-600 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local(''),
         url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), 
         url('../fonts/OpenSans-SemiBold.woff') format('woff')
  }
  /* open-sans-700 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/OpenSans-Bold.woff2') format('woff2'), 
         url('../fonts/OpenSans-Bold.woff') format('woff')
  }

html {
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 400;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bg-color: #e5e5e5;
    --black: #000000;
    --white: #ffffff;
    --purple: #9d5cd0;
    --purple-light: #C283F3;
    --purple-dark: #7943A4;
    --text-color: #333333;
}
h1 {
    margin: 0;
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    color: var(--white);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:focus-visible,
button:focus-visible {
    outline: none;
}

.container {
    max-width: 1703px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}
.title {
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color);
}
.title-big {
    font-size: 49px;
    font-weight: 400;
    line-height: 65px;
    color: var(--text-color);
}
.title-small {
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
}
.btn {
    padding: 17px 35px;
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;
}
.btn-small {
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

/* Header */
.header {
    display: flex;
    position: relative;
}
.menu__container {
    display: flex;
}
/* Burger */
.burger__btn {
    display: block;
    width: 36px;
    height: 36px;
    padding: 0;
    position: relative;
    border: none;
    cursor: pointer;
    color: var(--white);
    background: transparent;
}
#burger input {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0; 
    -webkit-touch-callout: none;
  }
.burger__btn:hover {
    color: var(--purple-light);
}
.burger__btn:active {
    color: var(--purple-dark);
}
.burger__btn::before,
.burger__btn::after {
  content: "";
  position: absolute;
  top: 18%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--white);
  transition: transform 0.3s ease-in, top 0.3s ease-in;
}
.burger__btn::after {
    width: 65%;
    top: 85%;
}
.burger__btn-active .burger__line {
    transform: scale(0);
}
.burger__btn-active::before,
.burger__btn-active::after {
    top: 50%;
    width: 34px;
    position: absolute;
    z-index: 100;
}
.burger__btn-active::before {
    transform: rotate(45deg);
}
.burger__btn-active::after {
    transform: rotate(-45deg);
}
.burger__line {
    width: 29px;
    height: 4px;
    top: 50%;
    position: absolute;
    background-color: var(--white);
    transition: transform 0.3s ease-in;
}
.burger__overlay {
    width: 100%;
    height: 768px; 
    position: fixed;
    top: 0;
    z-index: 2;
}
.burger__menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50px;
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--white);
    transform: none;
    transition: transform 0.3s ease-in;
}
.overlay-active,
.menu-is-active {
    transform: translateX(-100%);
}
.burger__nav {
    display: inline-block;
}
.burger__item {
    margin-bottom: 20px;
    text-align: left;
    cursor: pointer;
}
.burger__link,
.burger__enter-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: var(--main-gr-color);
    cursor: pointer;
}
.burger__item-last {
    margin-bottom: 70px;
}
.burger__link:hover {
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}
.burger__link:focus {
   color: var(--white);
   text-decoration: underline solid var(--white);
   background-color: var(--purple);
}
.burger__link:active {
    color: var(--purple-dark);
    border-bottom: 1px solid var(--purple-dark);
}
.burger__enter {
    max-width: 260px;
    padding: 10px 30px;
    border: 1px solid var(--purple);
    border-radius: 100px;
}
.burger__enter-link  {
    padding-left: 60px;
}
.burger__enter-link:focus:not(:active),
.burger__enter-link:focus:not(:hover),
.burger__enter:focus:not(:active) .burger__enter-link,
.burger__enter:focus:not(:hover) .burger__enter-link,
.burger__enter:focus:not(:active) .burger__enter-svg path,
.burger__enter:focus:not(:hover) .burger__enter-svg path  {
    fill: var(--white);
    color: var(--white);
    background:  var(--purple-dark);
}
.burger__enter:hover .burger__enter-link:hover,
.burger__enter:hover .burger__enter-svg path {
    color: var(--purple-light);
    fill: var(--purple-light);
    transition: 0.3s color ease-in-out;
}
.burger__enter:active .burger__enter-link:active,
.burger__enter:active .burger__enter-svg path {
    fill: var(--purple-light);
    color: var(--purple-light);
    border: none;
    transition: 0.3s color ease-in-out;
}

/* Header Menu Top*/
.menu-top {
    width: 100%;
    background-color: var(--black);
}
.menu-top .container {
    padding-top: 28px;
    padding-bottom: 28px;  
}
.logo {
    margin-right: 11%;
}
.logo:focus {
    border: 1px solid var(--purple);
}
.logo:focus-visible {
    outline: none;
}
.header__nav {
    width: 56.5%;
    margin-right: auto;
}
.header__list {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.header__item {
    font-size: 19px;
    line-height: 24.5px;
}
.header__link {
    padding: 5px 5px;
    color: var(--white);
}
.header__enter {
    margin-top: 10px;
}
.header__enter-link {
    height: fit-content;
    margin-right: auto;
    position: relative;
    color: var(--white);
    font-size: 18px;
}
.header__svg {
    position: absolute;
    top: 11px;
    left: 7px;
}
.header__link:focus:not(:active),
.header__link:focus:not(:hover),
.header__enter-link:focus:not(:active),
.header__enter-link:focus:not(:hover),
.header__enter:focus:not(:active) .header__enter-link,
.header__enter:focus:not(:hover) .header__enter-link,
.header__enter:focus:not(:active) .header__enter-svg path,
.header__enter:focus:not(:hover) .header__enter-svg path  {
    fill: var(--white);
    color: var(--white);
    background:  var(--purple-dark);
}
.header__link:hover {
    color: var(--purple-light);
    transition: 0.3s color ease-in-out;
}
.header__link:active {
    color: var(--purple-dark);
    border: none;
    transition: 0.3s color ease-in-out;
}
.header__enter:hover .header__enter-link,
.header__enter:hover .header__enter-svg path {
    color: var(--purple-light);
    fill: var(--purple-light);
    transition: 0.3s color ease-in-out;
}
.header__enter:active .header__enter-link,
.header__enter:active .header__enter-svg path {
    color: var(--purple-dark);
    fill: var(--purple-dark);
    border: none;
    transition: 0.3s color ease-in-out;
}
.header__btn-top {
    background: transparent;
    border: none
}
.header__search-svg {
    margin-top: 10px;
    height: 28px;
}
.header__input-top.open {
    display: none;
}
.header__input-top,
.overlay__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 19px;
    color: var(--white);
    outline: none;
}
.header__input-top {
    width: 180px;
}
.overlay__input {
    width: 80%;
}
.header__overlay {
   display: none;
}
.search-active {
    width: 100%;
    height: 100px; 
    padding: 40px 90px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: baseline;
    background: var(--black);
}
.overlay__close {
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
}
.overlay__close::before,
.overlay__close::after {
    content: "";
    position: absolute;
    top: 55%;
    width: 27px;
    height: 3px;
    background-color: var(--bg-color);
    transition: transform 0.3s ease-in, top 0.3s ease-in;
}
.overlay__close::before {
    transform: rotate(45deg);
}
.overlay__close::after  {
    transform: rotate(-45deg);
}

/* Header Menu Bottom */
.menu-bottom {
    width: 100%;
    top: 100%;
    position: absolute;
    box-shadow: inset 20px 20px 50px 30px rgba(0, 0, 0, 0.4);
}
.menu-bottom .container {
    padding-top: 14px;
    padding-bottom: 14px; 
    display: flex;
    align-items: center; 
}
.menu-bottom  a {
    text-align: center;
    color: var(--white);
}
.menu-bottom__nav {
    width: 65%;
    margin-right: auto;
}
.menu-bottom__list {
    display: flex;
    justify-content: space-between;
}
.menu-bottom__item {
    position: relative;
    margin-right: 5px;
}
.menu-bottom__item .dropdown__btn {
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
    color: var(--white);
    cursor: pointer;
} 
.dropdown__btn {
    display: flex;
    align-items: center;
}
.dropdown__btn:hover {
    color: var(--purple-light);
}
.dropdown__btn:hover .arrow path {
    stroke: var(--purple-light);
}
.dropdown__btn:focus:not(:hover),
.dropdown__btn:focus:not(:active) {
    color: var(--white);
    background-color: var(--purple-dark);
}
.dropdown__btn:active .dropdown__text {
    color: var(--purple-dark);
}
.dropdown__btn:active .arrow path {
    stroke: var(--purple-dark);
}
.dropdown__btn:active .arrow {
    transform: rotate(180deg);
}
.dropdown__text {
    margin-right: 4px;
}
.dropdown__content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 6px 0 6px var(--black);
}
.dropdown__content::-webkit-scrollbar {
	width: 3px;
	background-color: var(--white);
}
.dropdown__content::-webkit-scrollbar-thumb {
	background-color: var(--white);
}
::-webkit-scrollbar:horizontal {
    display: none;
}
.dropdown__menu {
    display: none;
    height: 280px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 0 40px;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.dropdown__content {
    height: 240px;
    max-width: 256px;
    overflow: scroll;
}
.dropdown__content a {
    float: none;
    display: block;
    padding: 12px 15px;
    text-align: left;
}
.show {
    display: block;
    position: absolute;
    top: 220%;
    visibility: visible;
    transition: .2s visibility linear, .2s opacity linear;
    opacity: 1;
}
.dropdown__link {
    height: 40px;
    max-width: 220px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.artist1 {
    background-image: url(/IMG/Menu/Rectangle57.jpg);
}
.artist2 {
    background-image: url(/IMG/Menu/Rectangle12.jpg);
}
.artist3 {
    background-image: url(/IMG/Hero/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg);
}
.artist4 {
    background-image: url(/IMG/Menu/Rectangle14.jpg);
}
.artist5 {
    background-image: url(/IMG/Gallery/Rectangle70.jpg);
}
.artist6 {
    background-image: url(/IMG/Gallery/Rectangle68.jpg);
}
.artist7 {
    background-image: url(/IMG/Menu/Rectangle21.jpg);
}
.artist8 {
    background-image: url(/IMG/Menu/Rectangle22.jpg);
}
.artist9 {
    background-image: url(/IMG/Menu/Rectangle23.jpg);
}
.artist10 {
    background-image: url(/IMG/Menu/Rectangle24.jpg);
}
.artist11 {
    background-image: url(/IMG/Menu/Rectangle31.jpg);
}
.artist12 {
    background-image: url(/IMG/Menu/Rectangle32.jpg);
}
.artist13 {
    background-image: url(/IMG/Menu/Rectangle33.jpg);
}
.artist14 {
    background-image: url(/IMG/Menu/Rectangle34.jpg);
}
.artist15 {
    background-image: url(/IMG/Menu/Rectangle41.jpg);
}
.artist16 {
    background-image: url(/IMG/Menu/Rectangle42.jpg);
}
.artist17 {
    background-image: url(/IMG/Menu/Rectangle43.jpg);
}
.artist18 {
    background-image: url(/IMG/Menu/Rectangle44.jpg);
}
.artist19 {
    background-image: url(/IMG/Menu/Rectangle51.jpg);
}
.artist20 {
    background-image: url(/IMG/Menu/Rectangle52.jpg);
}
.artist21 {
    background-image: url(/IMG/Menu/Rectangle53.jpg);
}
.artist22 {
    background-image: url(/IMG/Menu/Rectangle54.jpg);
}
.dropdown__link:hover,
.dropdown__link:focus:not(:active) {
    border: 2px solid var(--purple-light);
}
.dropdown__link:active {
    box-shadow: inset 20px 20px 50px 30px rgba(194, 131, 243, 0.4);
}
.header__search-bottom {
  
}
#search::-webkit-search-cancel-button,
#search::-webkit-search-decoration {
   -webkit-appearance: none;
   outline: none;
}
.header__btn,
.header__input {
    align-content: center;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}
.header__input {
    width: 227px;
    padding-left: 7px;
    transform: translateY(-5px);
    border-bottom: 1px solid var(--white);
    font-size: 18px;
    color: var(--white);
    outline: none;
}
.header__input::placeholder {
    color: var(--white);
}
.header__search-bottom:hover .header__input {
    border-bottom: 1px solid var(--purple-light);
    transition: 0.3s color ease-in-out;
}
.header__search-svg:focus,
.header__input:focus {
    border-bottom: 1px solid var(--purple);
    transition: 0.3s color ease-in-out;
}
.header__input:active {
    border-bottom: 1px solid var(--purple-dark);
    transition: 0.3s color ease-in-out;
}


/* Hero */
.hero {
    width: 100%;
    background-image: url(/IMG/Hero/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg);
    background-position: center center;
    background-size: cover;
    animation: zoomin 30s infinite; 
}
@keyframes zoomin {
    0% {
        background-size: 120%;
    }
    50% {
        background-size: 130%;
    }
    100% {
        background-size: 120%;
    }
}
.hero__content {
    width: 38%;
    padding-top: 145px;
    padding-bottom: 125px;
}
.hero__title {
    margin-bottom: 22px;
}
.hero__desc {
    margin-bottom: 15%;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--white);
}
.hero__btn {
    padding: 25px 34px;
    position: relative;
    z-index: 1;
    color: var(--white);
    background-color: var(--purple);
    border: none;

}
.hero__btn:focus:not(:hover),
.hero__btn:focus:not(:active) {
    border: 4px solid var(--white);
    border-radius: 100px;
}
.hero__btn:focus:not(:active).hero__btn::before {
    content: "";
    display: block;
    height: 115.5%;
    position: absolute;
    width: 104.5%;
    top: -6px;
    left: -7px;
    border: 3px solid #C283F3;
    border-radius: 100px;
    color: transparent;
}
.hero__btn:hover {
    border: 3px solid #D1A9F0;
    border-radius: 100px;
}
.hero__btn:active {
    background-color: var(--purple-dark);
    border: 3px solid #D1A9F0;
    border-radius: 100px;
}
.hero__link {
    color: var(--white);
    font-size: 18.5px;
    font-weight: 700;
}

/* About us */
.about__container {
    padding-top: 80px;
    padding-bottom: 70px;
}
.about__title {
    margin-bottom: 14px;
}
.about__desc {
    max-width: 67%;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
}

/* Gallery */ 
.gallery {
    background-image: url(/IMG/Gallery/gallery_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px;
}
.gallery-left {
    width: 25%;
    position: relative;
}
.gallery__title {
    margin-bottom: 23px;
    color: var(--white);
}
.choices__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}
.choices {
    width: 100%;
    height: 40px;
    border: 1px solid #999999;
    border-radius: 6px;
    background-color: transparent;
    background: url(/IMG/Gallery/Rectangle54.svg) no-repeat;
    background-position: 97% 50%;
    cursor: pointer;
}
.choices:focus {
    background: none;
}
.choices__inner {
    padding-top: 4.5px;
}
.choices__list--dropdown,
.choices__inner {
    background-color: transparent;
    color: #999999;
    border: none;
    font-size: 16px;
}
.is-open .choices__inner {
    background: url(/IMG/Gallery/Rectangle55.svg) no-repeat;
    background-position: 97% 40%;
}
.choices__list--dropdown .choices__item {
    font-size: 16px;
}
.choices__item:not(:last-child) {
    margin-bottom: 10px;
}
.choices__list--dropdown {
    z-index: 10;
    border: 1px solid #999999;
    border-radius: 6px;
}
.menu-is-active {
    transform: translateX(-50px);
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: rgba(255, 255, 255, 0.2);
}
.choices__item:hover {
    color: var(--white);
}
.choices__inner:hover {
    background: rgba(255, 255, 255, 0.2);
}
.choices__list--single {
    color: white;
}
#choices--select-item-choice-1 {
    display: none;
}
.choices[data-type*=select-one]:after {
    border: none;
}
.gallery__note {
    position: absolute;
    top: 86%;
    font-size: 17px;
    line-height: 32px;
    color: var(--white);
}
.gallery__link {
    color: var(--purple);
}
.gallery__link:hover {
    color: var(--purple-light);
    border-bottom: 1px solid var(--purple-light);
}
.gallery__link:focus {
    outline: 1px solid var(--purple-dark);
}
.gallery__link:active {
    color: var(--purple-dark);
}
.gallery-right {
    width: 72%;
    padding-top: 25px;
}
.swiper-navigation {
    height: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.swiper-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding:0;
    z-index:1
}
.swiper__button-prev2,
.swiper__button-prev4 {
    background-image: url(/IMG/Gallery/arrow2.svg);
}
.swiper__button-next1,
.swiper__button-next3 {
    left: 100px;
    background-image: url(/IMG/Gallery/arrow3.svg);
}
.swiper__btn {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 10;
    cursor: pointer;
    background-size: 33px 33px;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper__btn:focus-visible {
    outline: none;
}
.swiper__button-next1:focus,
.swiper__button-prev2:focus,
.swiper__button-next3:focus,
.swiper__button-prev4:focus {
    border: 3px solid var(--purple-dark);
    border-radius: 50%;
}
.swiper__button-next1:hover,
.swiper__button-prev2:hover,
.swiper__button-next3:hover,
.swiper__button-prev4:hover {
    filter: invert(1%) sepia(46%) saturate(1001%) hue-rotate(232deg) brightness(87%) contrast(100%);
}
.swiper__button-next1:active,
.swiper__button-prev2:active,
.swiper__button-next3:active,
.swiper__button-prev4:active {
    border: 3px solid #D1A9F0;
    border-radius: 50%;
    filter: invert(1%) sepia(12%) saturate(6314%) hue-rotate(246deg) brightness(89%) contrast(84%);
}
.swiper-pagination-fraction {
    padding-top: 7px;
    padding-left: 52px;
    font-size: 17px;
    color: white;
}
.swiper-wrapper {
    height: 80%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
.swiper-container-multirow .swiper-wrapper {
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.swiper__img {
    width: 350px;
    height: 350px;
}
.gallery__slide {
    height: 350px;
    position: relative;
    object-fit: cover;
    align-items: center;
    text-align: center;
}
.gallery__slide::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    top: 7%;
    left: 7%;
    z-index: 1;
    background: url(/IMG/Gallery/hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    opacity: 0;
}
.gallery__slide::before {
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    box-shadow: inset 50px 50px 50px 50px rgba(194, 131, 243, 0.4);   
    border: 3px solid #D1A9F0;
    opacity: 0;
}
.gallery__slide:focus {
    border: 3px solid var(--purple-dark);
}
.gallery__slide:hover::after{
 opacity: 1;
}
.gallery__slide:active::after {
    opacity: 1;
}
.gallery__slide:active::before {
    opacity: 1;
}



@media (min-width: 1200px) {
    .burger__btn,
    .header__search-top {
        display: none;
    }
}
@media (max-width: 1500px) {

    .gallery__slide::after {
        left: 16%;
    }

}
@media (max-width: 1200px) {

    .header__nav,
    .menu-bottom,
    .header__enter {
        display: none;
    }
    .menu__container {
        justify-content: space-between;
    }
    .hero {
        animation: none;
    }
    .about__desc {
        max-width: 100%;
    }

}

@media (min-width: 769px) and (max-width: 1200px) {
    .logo {
        margin-right: 12px;
    }
    .logo__img {
        width: 187px;
    }
    .hero__content {
        width: 80%;
        padding-top: 113px;
        padding-bottom: 115px;
    }
    .hero__title {
        margin-bottom: 14px;
    }
    .hero__desc {
        margin-bottom: 18%;
    }
    .header__overlay {
        display: none;
    }
    .about__title {
        margin-bottom: 15px;
    }
    .gallery__container {
        padding: 80px 50px 75px 50px;
    }
    .gallery-left {
        width: 30%;
    }
    .gallery-right{
        width: 64%;
        padding-top: 24px;
    }
    .gallery__slide {
        height: auto;
    }
    .swiper__img {
        width: 280px;
        height: 280px;
    }
    .gallery__slide::before {
        width: 280px;
        height: 280px;
    }
    .gallery__slide::after {
        width: 250px;
        height: 250px;
        top: 5%;
        left: 5%;
    }
    .gallery__note {
        top: 77%;
    }

}

@media (min-width: 620px) and (max-width: 768px) {
    .logo {
        margin-right: 0;
    }
    .hero__content {
        width: 100%;
        padding-top: 115px;
        padding-bottom: 115px;
    }
    .hero__title {
        margin-bottom: 15px;
    }
    .hero__desc {
        margin-bottom: 20%;
    }
    .header__search-top {
        z-index: 10;
    }
    .header__input-top {
        display: none;
    }
    .gallery {
        height: 1110px;
    }
    .gallery__container {
        flex-wrap: wrap;
    }
    .gallery-right {
        width: 100%;
        padding-top: 48px;
    }
    .choices {
        width: 167%;
    }
    .choices__title {
        margin-bottom: 18px;
    }
    .is-active {
        left: 0;
    }
    .choices__list--dropdown {
        background-color: #000000;
    }
    .gallery__note {
        width: 650px;
        top: 547%;
        position: absolute;
    }
    .swiper__btn {
        z-index: 1;
        background-size: 30px 30px;
    }
    .swiper-pagination-fraction {
        z-index: 1;
    }
    .swiper-wrapper {
        height: 70%;
    }
    .gallery__slide {
        height: 292px;
    }
    .swiper-slide.swiper-slide-active {
        width: 320px;
    }
    .gallery__slide::before {
        width: 317px;
        height: 280px;
    }
    .gallery__slide::after {
        width: 280px;
        height: 250px;
        top: 6%;
        left: 6%;
    }
    .swiper__img {
        width: 317px;
        height: 280px;
    }

}

@media(min-width: 429px) and (max-width: 619px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu-top .container {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .burger__line, .burger__btn::before, .burger__btn::after {
        height: 3px;
    }
    .logo {
        margin-right: 0;
    }
    .logo__img {
        max-width: 140px;
    }
    .header__search-svg {
        max-width: 24px;
    }
    .burger__menu {
        top: 0;
        left: -15px;
        padding-top: 65px;
        padding-left: 20px;
    }
    .burger__overlay {
        height: 100%;
        max-height: 390px;
    }
    .burger__item {
        margin-bottom: 8px;
    }
    .burger__item-last {
        margin-bottom: 30px;
    }
    .burger__link {
        font-size: 14px;
        line-height: 20px;
    }
    .burger__enter {
        max-width: 220px;
    }
    .burger__enter-link {
        padding-left: 40px;
    }
    .hero__content {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 45px;
        text-align: center;
    }
    .hero__title {
        font-size: 48px;
        line-height: 42px;
        margin-bottom: 15px;
    }
    .hero__desc {
        margin-bottom: 10%;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .hero__btn {
        padding: 11px 18px 15px 18px;
    }
    .hero__link {
        font-size: 14px;
    }
    .header__input-top {
        display: none;
    }
    .search-active {
        height: 60px;
        padding: 12px;
    }
    .overlay__close::before,
    .overlay__close::after {
        top: 45%;
    }
    .gallery__container {
        padding: 40px 50px 120px 50px;
        flex-wrap: wrap;
    }
    .gallery-right {
        width: 100%;
        padding-top: 48px;
    }
    .choices {
        width: 200%;
    }
    .choices__title {
        margin-bottom: 18px;
    }
    .is-active {
        left: 0;
    }
    .choices__list--dropdown {
        background-color: #000000;
    }
    .gallery__note {
        width: 400px;
        top: 360%;
        position: absolute;
        font-size: 14px;
        line-height: 22px;
    }
    .swiper__btn {
        z-index: 1;
        background-size: 30px 30px;
    }
    .swiper-pagination-fraction {
        padding-left: 45px;
        z-index: 1;
    }
    .swiper-wrapper {
        height: 70%;
    }
    .gallery__slide {
        height: 292px;
    }
    .swiper-slide.swiper-slide-active {
        width: 320px;
    }
    .gallery__slide::before {
        width: 280px;
        height: 320px;
    }
    .gallery__slide::after {
        width: 248px;
        height: 270px;
        top: 4%;
        left: 21%;
    }
    .swiper__img {
        width: 280px;
        height: 320px;
    }  
}

@media (max-width: 428px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu__container {
        align-items: center;
    }
    .menu-top .container {
        padding-top: 18px;
        padding-bottom: 7px;
    }
    .burger__btn {
        max-width: 25px;
        max-height: 25px;
    }
    .burger__line {
        width: 15px;
        height: 2px;
        top: 40%;
    }
    .burger__btn::before, .burger__btn::after {
        width: 41%;
        height: 2px;
        top: 72%;
    }
    .burger__btn::before {
        width: 25px;
        top: 8%;
    }
    .burger__btn-active::before,
    .burger__btn-active::after {
        width: 30px;
        top: 50%;
    }
    .logo {
        margin-right: 10px;
    }
    .logo__img {
        max-width: 96px;
    }
    .header__search-svg {
        margin-top: 0;
        max-width: 18px;
    }
    .header__input-top {
        display: none;
    }
    .search-active {
        height: 70px;
        padding: 20px;
    }
    .overlay__close {
        width: 25px;
        height: 25px; 
    }
    .overlay__close::after,
    .overlay__close::before {
        width: 20px;
        height: 2px;
        top: 20%;  
    }
    .burger__menu {
        top: 0;
        left: -15px;
        padding-top: 65px;
        padding-left: 20px;
    }
    .burger__overlay {
        height: 100%;
        max-height: 370px;
    }
    .burger__item {
        margin-bottom: 8px;
    }
    .burger__item-last {
        margin-bottom: 30px;
    }
    .burger__link {
        font-size: 14px;
        line-height: 20px;
    }
    .burger__enter {
        max-width: 200px;
    }
    .burger__enter-link {
        padding-left: 30px;
    }
    .hero__content {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 43px;
        text-align: center;
    }
    .hero__title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 9px;
    }
    .hero__desc {
        margin-bottom: 14%;
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
    }
    .hero__btn {
        padding: 9px 19px 13px 19px;
    }
    .hero__link {
        font-size: 12px;
    }
    .about__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .about__title {
        margin-bottom: -3px;
        font-size: 28px;
    }
    .about__desc {
        font-size: 14px;
        line-height: 28px;
    }
    .gallery {
        height: 854px;
    }
    .gallery__container {
        padding: 35px 15px;
        flex-wrap: wrap;
    }
    .gallery-left {
        width: 62%;
    }
    .gallery-right {
        width: 100%;
        padding-top: 0;
    }
    .gallery__title {
        margin-bottom: 6px;
        font-size: 28px;
    }
    .choices {
        width: 160%;
    }
    .choices__title {
        margin-bottom: 12px;
    }
    .is-active {
        left: 0;
    }
    .choices__list--dropdown {
        background-color: #000000;
    }
    .gallery__note {
        width: 283px;
        top: 440%;
        position: absolute;
        font-size: 17px;
        line-height: 32px;
    }
    .swiper-navigation {
        top: 96%;
        left: 26%;
    }
    .swiper__btn {
        z-index: 1;
        background-size: 30px 30px;
    }
    .swiper-pagination-fraction {
        padding-left: 40px;
        z-index: 1;
    }
    .swiper-container {
        top: -5%;
    }
    .gallery__slide {
        width: 300px;
        height: 380px;
    }
    .swiper-slide.swiper-slide-active {
        width: 320px;
    }
    .gallery__slide::before {
        width: 290px;
        height: 368px;
    }
    .gallery__slide::after {
        width: 270px;
        height: 270px;
        top: 14%;
        left: 3%;
    }
    .swiper__img {
        width: 290px;
        height: 368px;
    }
}